@model ParaglidingProject.SL.Core.TraineeShip.NS.TransferObjects.TraineeShipDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Suuprimer</h1>

<h3>Voulez-vous supprimer ce stage?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraineeShipStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraineeShipStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraineeShipEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraineeShipEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraineeShipPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraineeShipPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.License)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.License.Title)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Traineeshipid" />
        <input type="submit" value="Supprimer" class="btn btn-danger add" /> |
        <a class="styleLink" asp-action="Index">Retour à la liste</a>
    </form>
</div>
