@model ParaglidingProject.SL.Core.TraineeShip.NS.TransferObjects.TraineeshipAndPilotsDto

@{
    ViewData["Title"] = "Détails du stage";
}

<h1>Détails du stage du @Model.TraineeshipDto.TraineeShipStartDate au @Model.TraineeshipDto.TraineeShipEndDate</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TraineeshipDto.TraineeShipStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TraineeshipDto.TraineeShipStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TraineeshipDto.TraineeShipEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TraineeshipDto.TraineeShipEndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TraineeshipDto.TraineeShipPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TraineeshipDto.TraineeShipPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TraineeshipDto.License)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TraineeshipDto.License.Title)
        </dd>
        @if (Model.PilotsDto.Count > 0)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PilotsDto)
            </dt>
            <dd class="col-sm-10">
                <table class="table" cellspacing="0">
                    <tr>
                        <th>Pilote</th>
                        <th>Adresse du pilote</th>
                        <th>Numéro de téléphone du pilote</th>
                    </tr>
                    @foreach (var item in Model.PilotsDto)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItems => item.FirstName)  @Html.DisplayFor(modelItems => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItems => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modeItems => item.PhoneNumber)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index" class="styleLink">Retour</a>
</div>
