@model IEnumerable<ParaglidingProject.SL.Core.Site.NS.TransfertObjects.SiteDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Sites</h1>

<p>
    <a class="create" asp-action="Create" asp-route-pSiteType="@ParaglidingProject.SL.Core.Site.NS.TransfertObjects.TypeSite.Landing">Créer un nouveau site d'atterrissage</a>
    <br />
    <a class="create" asp-action="Create" asp-route-pSiteType="@ParaglidingProject.SL.Core.Site.NS.TransfertObjects.TypeSite.Takeoff">Créer un nouveau site de décollage</a>
</p>
<div class="nimportequoi">
    <div class="col-md-4">
        <form asp-action="Index">
            <select name="filter" asp-items="@ViewData["siteFilterItems"] as IEnumerable<SelectListItem>">
            </select>
            <input type="text" name="filterInfo" />

            <div class="form-group">
                <input type="submit" value="Filtrer" class="btn btn-primary add" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-action="Index">
            <select name="search" asp-items="@ViewData["siteSearchItems"] as IEnumerable<SelectListItem>">
            </select>
            <input type="text" name="searchInfo" />

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary add" />
            </div>
        </form>
    </div>
</div>
<table class="table" cellspacing="0">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-pSiteSort="@ParaglidingProject.SL.Core.Site.NS.Helpers.SitesSorts.Name">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orientation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteGeoCoordinate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltitudeTakeOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApproachManeuver)
            </th>
            <th>
                <a asp-action="Index" asp-route-pSiteSort="@ParaglidingProject.SL.Core.Site.NS.Helpers.SitesSorts.LevelRequired">@Html.DisplayNameFor(model => model.Level)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orientation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteGeoCoordinate)
            </td>
            <td>
                @Html.DisplayFor(model => item.AltitudeTakeOff)
            </td>
            <td>
                @Html.DisplayFor(model => item.ApproachManeuver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level.ID)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.SiteId" class="styleLink">Editer</a> |
                <a asp-action="Details" asp-route-id="@item.SiteId" class="styleLink">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.SiteId" class="styleLink">Supprimer</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@*<dl class="row">
    <dt class="col-sm-2">
       Sites les plus fréquentés:
    </dt>
    <dd class="col-sm-10">
        @foreach(var item in ViewBag.BiggerFlightsData)
        {
            @item;
        }
    </dd>
    <dt class="col-sm-2">
       Sites les moins fréquentés:
    </dt>
    <dd class="col-sm-10">
        @foreach (var item in ViewBag.TinyFlightsData)
        {
            @item;
        }
    </dd>
</dl>*@


