@model ParaglidingProject.SL.Core.Paraglider.NS.TransfertObjects.ParagliderDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Etes-vous sûr de vouloir supprimer ce parapente ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommissioningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommissioningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastRevision)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastRevision)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParagliderModelId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParagliderModelId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ParagliderId" />
        <input type="submit" value="Supprimer" class="btn btn-danger add" /> |
        <a class="styleLink" asp-action="Index">Retour à la liste</a>
    </form>
</div>
