@model ParaglidingProject.SL.Core.ParagliderModel.NS.TransfertObjects.ParagliderModelDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Etes-vous sûr de vouloir supprimer ce superbe modèle ?</h3>
<div>
    <h4>Modèle de parapente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxWeightPilot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxWeightPilot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinWeightPilot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinWeightPilot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Supprimer" class="btn btn-danger add" /> |
        <a class="styleLink" asp-action="Index">Retour à la liste</a>
    </form>
</div>
