@model ParaglidingProject.Models.Paraglider

@{
    ViewData["Title"] = "DeleteParagliding";
}

<h1>Supprimer</h1>

<h3>Etes-vous sûr de vouloir supprimer ce superbe parapente de modèle @ViewBag.ModelParagliding ?</h3>
<div>
    <h4>Parapente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommissioningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommissioningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastRevisionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastRevisionDate)
        </dd>
    </dl>

    <form asp-action="DeleteParagliding">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Retour à la liste</a>
    </form>
</div>