@model ParaglidingProject.Models.Flight
@{
    ViewData["Title"] = "DetailsFlight";
}

<h1>Details du vol numéro @Model.ID du parapente numéro @Model.ParagliderID</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pilot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pilot.FirstName) @Html.DisplayFor(model => model.Pilot.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LandingSite.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LandingSite.Name)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TakeOffSite.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TakeOffSite.Name)
        </dd>*@
    </dl>
</div>
<div>
    @*<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Publier</a> |*@
    <a class="btn btn-primary" asp-action="Index">Retour à la liste</a>
</div>


